<!-- Panels -->
<div class="horizontal-resizable resizable" id="info-panels">
    <%- include('backtrace'); %>

    <%- include('breakpoint-list'); %>

    <%- include('watch'); %>

    <%- include('memory-usage'); %>

    <%- include('output-log'); %>

    <%- include('source-send-run'); %>

    <%- include('console'); %>
</div>
<!-- /Panels -->
