<!-- panels -->
<div class="horizontal-resizable resizable" id="info-panels">
    <!-- Backtrace -->
    <%- include('backtrace'); %>
    <!-- Breakpoint list -->
    <%- include('breakpoint-list'); %>
    <!-- Watch -->
    <%- include('watch'); %>
    <!-- Memory usage -->
    <%- include('memory-usage'); %>
    <!-- Output log -->
    <%- include('output-log'); %>
    <!-- Source sending, Run -->
    <%- include('source-send-run'); %>
    <!-- Console -->
    <%- include('console'); %>
</div>
